product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
system/system/app/RuninTest2/RuninTest2.apk
system/system/V2_sign_app/YandexBrowser/YandexBrowser.apk
system/system/V2_sign_app/YandexAPP/YandexAPP.apk
system/system/apex/com.android.vndk.current.apex
